.dashboard-card{

    margin-top: 10px;
    margin-bottom: 15px;
}

.heart {
    margin-top: 5px;
    border-radius: 120px;
}

.flex-dashboard {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-flow: row wrap;
    flex-direction: column;
}

.filter-button {
    margin-left: 5px;
}

.form-filter {
    text-align: center;
    width: 100px;
    margin-left: 10px;
    border-radius: 5px;
}