.feed-container {
    width: 70%;
}

.main-feed {
    display: flex;
}

.feed-profile {
    text-align: center;
}

/* .feed {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column wrap;
} */