.following-container {
    color: white;
    border: 1px solid red;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.people-card {
    color: white;
    text-align: center;
    width: 100%;
    border: 1px solid red;
}

.card-pic {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
      
}

@media only screen and (max-width: 450px) {
    .carousel-item {
        width: 100%;
    }

    .following-container {
        color: white;
        border: 1px solid red;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
  }