body {
    background-size: auto;
    background-color: rgb(15, 14, 14);
    background-repeat: no-repeat;
    color: white;
}

.modal {
    background-color: black;
}
.trademark {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: whitesmoke;
    
}

.position_center {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.register {
    border-radius: 50px;
    width: 250px;
}