.login-container {


    width: 60%;

    margin: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-title {
    color: white;
}


.register-btn {
    border-radius: 15px;
}

login-btn {
    width: 100%;
}