.profile-container {
    color: white;
}



.profile-info {
    text-align: left;
    display: flex;
}

.profile-pic{

    border-radius: 180px;
    margin-right: 25px;
    margin-top: 10px;
}

.text-infos {
    margin-top: 13px;
}

.navbar-toggler {
  background-color: white;
} 

.link-class {
    color: white;
}

.dropdown-profile{
  color:  white;
}
  /* Style page content */

  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  /* @media screen and (max-width: 1000px) {
    .sidenav {
        visibility: hidden;
    }
    
  }

  @media screen and (max-width: 400px) {
    .main-container {
      margin-left: 5px;
        position: absolute;
        width: 90%;
       
      }
  } */
