.register-container {
    position: relative;
    color: white;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-btn {
    display: block;
    margin-top: 15px;
    padding-top: 10px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    
}

.gender-form {
    display: block;
    margin-top: 15px;
    padding-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

