
body {
  background-color: rgb(18, 31, 46);
}

.App {
  display: flex;
  flex-direction: column;
}

.topBar {
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.topBar > h3 {
  margin-left: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile {
  border-radius: 50px;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  margin-bottom: 20px;
  flex: 1;
}

.overlay {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 1px;
  background-color:black;
  bottom: 25px;
  opacity: 0.4;
  border-radius: 10px;
  
}

.profile > img {
  border-radius: 30px;
}
.profile > p {
  
  position: absolute;
  bottom: 15px;
  left: 16px;
}

.action {
  width: 100%;
  display: flex;
}

.action > button {
  background-color: cyan;
  border-radius: 10px;
  flex: 1;
}